In [1]:
import pymongo
client=pymongo.MongoClient("mongodb://localhost:27017/")
mydb=client['Company']

In [11]:
infodatabases = client.list_database_names()
infodatabases

['Company', 'admin', 'config', 'local']

In [14]:
if 'Company' in infodatabases:
    print('database exist')

database exist

In [15]:
mycol=mydb['Customers']

In [16]:
collist=mydb.list_collection_names()
collist

['Employee_info']

In [17]:
if 'Employee_info' in collist:
    print('collection exist')

collection exist

In [20]:
mydict={'first name':'david','last name':'warner','department':'cricket'}

In [25]:
X=mycol.insert_one(mydict)

In [27]:
mylist = [
  { "first name": "Amy", "last name": "Apple","department":"tester"},
  { "first name": "Hannah", "last name": "Mountain","department":"tester"},
  { "first name": "Michael", "last name": "Valley","department":"tester"},
  { "first name": "Sandy", "last name": "Ocean blvd","department":"tester"},
  { "first name": "Betty", "last name": "Green Grass ","department":"tester"},
  { "first name": "Richard", "last name": "Sky st ","department":"tester"},
  { "first name": "Susan", "last name": "One way","department":"tester"},
  { "first name": "Vicky", "last name": "Yellow Garden ","department":"tester"},
  { "first name": "Ben", "last name": "Park Lane","department":"tester"},
  { "first name": "William", "last name": "Central","department":"tester"},
  { "first name": "Chuck", "last name": "Main Road","department":"tester"},
  { "first name": "Viola", "last name": "Sideway","department":"tester"}
]

In [28]:
y=mycol.insert_many(mylist)

In [31]:
mycol.find_one()

{'_id': ObjectId('5f6960f922b14e74d94584ce'),
 'first name': 'david',
 'last name': 'warner',
 'department': 'cricket'}

In [36]:
for x in mycol.find():
    print(x)

{'_id': ObjectId('5f6960f922b14e74d94584ce'), 'first name': 'david', 'last name': 'warner', 'department': 'cricket'}
{'_id': ObjectId('5f69639622b14e74d94584cf'), 'first name': 'Amy', 'last name': 'Apple', 'department': 'tester'}
{'_id': ObjectId('5f69639622b14e74d94584d0'), 'first name': 'Hannah', 'last name': 'Mountain', 'department': 'tester'}
{'_id': ObjectId('5f69639622b14e74d94584d1'), 'first name': 'Michael', 'last name': 'Valley', 'department': 'tester'}
{'_id': ObjectId('5f69639622b14e74d94584d2'), 'first name': 'Sandy', 'last name': 'Ocean blvd', 'department': 'tester'}
{'_id': ObjectId('5f69639622b14e74d94584d3'), 'first name': 'Betty', 'last name': 'Green Grass ', 'department': 'tester'}
{'_id': ObjectId('5f69639622b14e74d94584d4'), 'first name': 'Richard', 'last name': 'Sky st ', 'department': 'tester'}
{'_id': ObjectId('5f69639622b14e74d94584d5'), 'first name': 'Susan', 'last name': 'One way', 'department': 'tester'}
{'_id': ObjectId('5f69639622b14e74d94584d6'), 'first name': 'Vicky', 'last name': 'Yellow Garden ', 'department': 'tester'}
{'_id': ObjectId('5f69639622b14e74d94584d7'), 'first name': 'Ben', 'last name': 'Park Lane', 'department': 'tester'}
{'_id': ObjectId('5f69639622b14e74d94584d8'), 'first name': 'William', 'last name': 'Central', 'department': 'tester'}
{'_id': ObjectId('5f69639622b14e74d94584d9'), 'first name': 'Chuck', 'last name': 'Main Road', 'department': 'tester'}
{'_id': ObjectId('5f69639622b14e74d94584da'), 'first name': 'Viola', 'last name': 'Sideway', 'department': 'tester'}

In [45]:
myquery = { "first name": "Betty" }

mydoc = mycol.find(myquery)

for x in mydoc:
    print(x)

{'_id': ObjectId('5f69639622b14e74d94584d3'), 'first name': 'Betty', 'last name': 'Green Grass ', 'department': 'tester'}

In [46]:
myquery = { "first name":{"$gt":"V"}}

mydoc = mycol.find(myquery)

for x in mydoc:
    print(x)

{'_id': ObjectId('5f6960f922b14e74d94584ce'), 'first name': 'david', 'last name': 'warner', 'department': 'cricket'}
{'_id': ObjectId('5f69639622b14e74d94584d6'), 'first name': 'Vicky', 'last name': 'Yellow Garden ', 'department': 'tester'}
{'_id': ObjectId('5f69639622b14e74d94584d8'), 'first name': 'William', 'last name': 'Central', 'department': 'tester'}
{'_id': ObjectId('5f69639622b14e74d94584da'), 'first name': 'Viola', 'last name': 'Sideway', 'department': 'tester'}

In [47]:
myquery = { "last name":{"$regex": "^S"}}

mydoc = mycol.find(myquery)

for x in mydoc:
    print(x)

{'_id': ObjectId('5f69639622b14e74d94584d4'), 'first name': 'Richard', 'last name': 'Sky st ', 'department': 'tester'}
{'_id': ObjectId('5f69639622b14e74d94584da'), 'first name': 'Viola', 'last name': 'Sideway', 'department': 'tester'}

In [52]:
myquery = { "last name":{"$regex": "^Y"}}

mydoc = mycol.find(myquery)

for x in mydoc:
    print(x)

{'_id': ObjectId('5f69639622b14e74d94584d6'), 'first name': 'Vicky', 'last name': 'Yellow Garden ', 'department': 'tester'}

In [56]:
mydoc = mycol.find().sort("first name",1)

for x in mydoc:
    print(x)

{'_id': ObjectId('5f69639622b14e74d94584cf'), 'first name': 'Amy', 'last name': 'Apple', 'department': 'tester'}
{'_id': ObjectId('5f69639622b14e74d94584d7'), 'first name': 'Ben', 'last name': 'Park Lane', 'department': 'tester'}
{'_id': ObjectId('5f69639622b14e74d94584d3'), 'first name': 'Betty', 'last name': 'Green Grass ', 'department': 'tester'}
{'_id': ObjectId('5f69639622b14e74d94584d9'), 'first name': 'Chuck', 'last name': 'Main Road', 'department': 'tester'}
{'_id': ObjectId('5f69639622b14e74d94584d0'), 'first name': 'Hannah', 'last name': 'Mountain', 'department': 'tester'}
{'_id': ObjectId('5f69639622b14e74d94584d1'), 'first name': 'Michael', 'last name': 'Valley', 'department': 'tester'}
{'_id': ObjectId('5f69639622b14e74d94584d4'), 'first name': 'Richard', 'last name': 'Sky st ', 'department': 'tester'}
{'_id': ObjectId('5f69639622b14e74d94584d2'), 'first name': 'Sandy', 'last name': 'Ocean blvd', 'department': 'tester'}
{'_id': ObjectId('5f69639622b14e74d94584d5'), 'first name': 'Susan', 'last name': 'One way', 'department': 'tester'}
{'_id': ObjectId('5f69639622b14e74d94584d6'), 'first name': 'Vicky', 'last name': 'Yellow Garden ', 'department': 'tester'}
{'_id': ObjectId('5f69639622b14e74d94584da'), 'first name': 'Viola', 'last name': 'Sideway', 'department': 'tester'}
{'_id': ObjectId('5f69639622b14e74d94584d8'), 'first name': 'William', 'last name': 'Central', 'department': 'tester'}
{'_id': ObjectId('5f6960f922b14e74d94584ce'), 'first name': 'david', 'last name': 'warner', 'department': 'cricket'}

In [57]:
mydoc = mycol.find().sort("first name",-1)

for x in mydoc:
    print(x)

{'_id': ObjectId('5f6960f922b14e74d94584ce'), 'first name': 'david', 'last name': 'warner', 'department': 'cricket'}
{'_id': ObjectId('5f69639622b14e74d94584d8'), 'first name': 'William', 'last name': 'Central', 'department': 'tester'}
{'_id': ObjectId('5f69639622b14e74d94584da'), 'first name': 'Viola', 'last name': 'Sideway', 'department': 'tester'}
{'_id': ObjectId('5f69639622b14e74d94584d6'), 'first name': 'Vicky', 'last name': 'Yellow Garden ', 'department': 'tester'}
{'_id': ObjectId('5f69639622b14e74d94584d5'), 'first name': 'Susan', 'last name': 'One way', 'department': 'tester'}
{'_id': ObjectId('5f69639622b14e74d94584d2'), 'first name': 'Sandy', 'last name': 'Ocean blvd', 'department': 'tester'}
{'_id': ObjectId('5f69639622b14e74d94584d4'), 'first name': 'Richard', 'last name': 'Sky st ', 'department': 'tester'}
{'_id': ObjectId('5f69639622b14e74d94584d1'), 'first name': 'Michael', 'last name': 'Valley', 'department': 'tester'}
{'_id': ObjectId('5f69639622b14e74d94584d0'), 'first name': 'Hannah', 'last name': 'Mountain', 'department': 'tester'}
{'_id': ObjectId('5f69639622b14e74d94584d9'), 'first name': 'Chuck', 'last name': 'Main Road', 'department': 'tester'}
{'_id': ObjectId('5f69639622b14e74d94584d3'), 'first name': 'Betty', 'last name': 'Green Grass ', 'department': 'tester'}
{'_id': ObjectId('5f69639622b14e74d94584d7'), 'first name': 'Ben', 'last name': 'Park Lane', 'department': 'tester'}
{'_id': ObjectId('5f69639622b14e74d94584cf'), 'first name': 'Amy', 'last name': 'Apple', 'department': 'tester'}

In [58]:
myquery={'first name':'david'}
newvalues={"$set":{'first name':'kane'}}
mycol.update_one(myquery,newvalues)

In [59]:
mydoc = mycol.find().sort("first name",-1)

for x in mydoc:
    print(x)

{'_id': ObjectId('5f6960f922b14e74d94584ce'), 'first name': 'kane', 'last name': 'warner', 'department': 'cricket'}
{'_id': ObjectId('5f69639622b14e74d94584d8'), 'first name': 'William', 'last name': 'Central', 'department': 'tester'}
{'_id': ObjectId('5f69639622b14e74d94584da'), 'first name': 'Viola', 'last name': 'Sideway', 'department': 'tester'}
{'_id': ObjectId('5f69639622b14e74d94584d6'), 'first name': 'Vicky', 'last name': 'Yellow Garden ', 'department': 'tester'}
{'_id': ObjectId('5f69639622b14e74d94584d5'), 'first name': 'Susan', 'last name': 'One way', 'department': 'tester'}
{'_id': ObjectId('5f69639622b14e74d94584d2'), 'first name': 'Sandy', 'last name': 'Ocean blvd', 'department': 'tester'}
{'_id': ObjectId('5f69639622b14e74d94584d4'), 'first name': 'Richard', 'last name': 'Sky st ', 'department': 'tester'}
{'_id': ObjectId('5f69639622b14e74d94584d1'), 'first name': 'Michael', 'last name': 'Valley', 'department': 'tester'}
{'_id': ObjectId('5f69639622b14e74d94584d0'), 'first name': 'Hannah', 'last name': 'Mountain', 'department': 'tester'}
{'_id': ObjectId('5f69639622b14e74d94584d9'), 'first name': 'Chuck', 'last name': 'Main Road', 'department': 'tester'}
{'_id': ObjectId('5f69639622b14e74d94584d3'), 'first name': 'Betty', 'last name': 'Green Grass ', 'department': 'tester'}
{'_id': ObjectId('5f69639622b14e74d94584d7'), 'first name': 'Ben', 'last name': 'Park Lane', 'department': 'tester'}
{'_id': ObjectId('5f69639622b14e74d94584cf'), 'first name': 'Amy', 'last name': 'Apple', 'department': 'tester'}

In [63]:
myquery = { "first name": { "$regex": "^S" } }
newvalues = { "$set": { "first name": "Amy" } }

x = mycol.update_many(myquery, newvalues)

print(x.modified_count, "documents updated.")

2 documents updated.

In [64]:
mydoc = mycol.find().sort("first name",-1)

for x in mydoc:
    print(x)

{'_id': ObjectId('5f6960f922b14e74d94584ce'), 'first name': 'kane', 'last name': 'warner', 'department': 'cricket'}
{'_id': ObjectId('5f69639622b14e74d94584d8'), 'first name': 'William', 'last name': 'Central', 'department': 'tester'}
{'_id': ObjectId('5f69639622b14e74d94584da'), 'first name': 'Viola', 'last name': 'Sideway', 'department': 'tester'}
{'_id': ObjectId('5f69639622b14e74d94584d6'), 'first name': 'Vicky', 'last name': 'Yellow Garden ', 'department': 'tester'}
{'_id': ObjectId('5f69639622b14e74d94584d4'), 'first name': 'Richard', 'last name': 'Sky st ', 'department': 'tester'}
{'_id': ObjectId('5f69639622b14e74d94584d1'), 'first name': 'Michael', 'last name': 'Valley', 'department': 'tester'}
{'_id': ObjectId('5f69639622b14e74d94584d0'), 'first name': 'Hannah', 'last name': 'Mountain', 'department': 'tester'}
{'_id': ObjectId('5f69639622b14e74d94584d9'), 'first name': 'Chuck', 'last name': 'Main Road', 'department': 'tester'}
{'_id': ObjectId('5f69639622b14e74d94584d3'), 'first name': 'Betty', 'last name': 'Green Grass ', 'department': 'tester'}
{'_id': ObjectId('5f69639622b14e74d94584d7'), 'first name': 'Ben', 'last name': 'Park Lane', 'department': 'tester'}
{'_id': ObjectId('5f69639622b14e74d94584cf'), 'first name': 'Amy', 'last name': 'Apple', 'department': 'tester'}
{'_id': ObjectId('5f69639622b14e74d94584d2'), 'first name': 'Amy', 'last name': 'Ocean blvd', 'department': 'tester', 'name': 'Amy'}
{'_id': ObjectId('5f69639622b14e74d94584d5'), 'first name': 'Amy', 'last name': 'One way', 'department': 'tester', 'name': 'Amy'}

In [69]:
myquery = {"first name":"Amy"}
x= mycol.delete_one(myquery)

print(x.deleted_count)

0

In [75]:
myquery = {"first name":"Vicky"}
x= mycol.delete_one(myquery)

print(x.deleted_count)

1

In [76]:
myquery = { "first name": {"$regex": "^B"} }

x = mycol.delete_many({})

print(x.deleted_count, " documents deleted.")

7  documents deleted.

In [78]:
mycol.drop()

In [79]:
mycol = mydb["Employee_info"]

In [80]:


myresult = mycol.find().limit(5)

#print the result:
for x in myresult:
    print(x)

{'_id': ObjectId('5f683d7c07f636db29e04420'), 'firstname': 'Lakshmi', 'Lastname': 'priya', 'department': 'Analytics'}
{'_id': ObjectId('5f683d7c07f636db29e04421'), 'firstname': 'Prasanth', 'Lastname': 'John', 'department': 'Network'}
{'_id': ObjectId('5f683d7c07f636db29e04422'), 'firstname': 'Prasad', 'Lastname': 'park', 'department': 'developer'}
{'_id': ObjectId('5f683d7c07f636db29e04423'), 'firstname': 'jyothi', 'Lastname': 'flynn', 'department': 'tester'}

In [81]:
mycol.drop()